---
layout: base
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{site.baseurl}}{{post.url }}">
        {{ post.title }}
      </a>
    </h1>

<span class='post-tags'>[
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="{{site.baseurl}}/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

<span class="post-date">{{ post.date | date_to_string }}</span>
	<div>
    {% include short/t_post_summary.html %}
	<a href="{{site.baseurl}}{{ post.url }}" class="read-more">Read More</a>
	</div>
  </div>
  {% endfor %}
</div>

<nav aria-label="Pagination">
<hr class="my-0">
<ul class="pagination justify-content-center my-4">
	<li class="page-item"><a class="nav-link" href="{{base.url}}/page{{paginator.previous_page}}" tabindex="-1" aria-disabled="true">Newer</a></li>
	<li class="page-item"><a class="page-link" href="{{base.url}}/page{{paginator.next_page}}">Older</a></li>
</ul>
</nav>